.DropDownItem  a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #7b8a8b;
    white-space: nowrap;    
    background: transparent;
    cursor: pointer;
    text-decoration: none;
}

.DropDownItem  a:hover,
.DropDownItem  a:active,
.DropDownItem  a.active {
    background-color: #2C3E50;
    color: white;
    border-bottom: none;
}

@media (min-width: 500px) {

}